h1 {
  float: left;
  padding-top: 10px;
  margin-bottom: 0px;
  color: white;
}

h2 {
  position: absolute;
  padding-top: 18px;
}

h4 {
  position: absolute;
  color: white;
  line-height: 70px;
}

h5 {
  padding-top: 0px;
  margin-top: 15px;
}

.big-image {
  height: 250px;
}

.right-trans {
  background-color: black;
  opacity: 0.7;
  top: 80%;
  position: relative;
  float: right;
  margin-right: 15px;
  height: 25px;
  color: white;
  padding: 9px 10px 0 10px;
  font-size: 12px;
}



